h1 {
  font-size: 24px;
  margin: 0;
}

.btn-add {
  margin: 20px 0px;
  float: right;
}

.actions {
  /* display: flex; */
  width: 100px;
  margin: 0 -5px;
}

.btn-edit, .btn-delete {
  width: 62px;
  margin: 0 5px;
  color: #797c80;  
  cursor: pointer;
}

.ReactTable .center {
  text-align: center;
}

.btn-submit {
  margin: auto;
  width: 50%;
  float: right;
}